<launch>
  <!-- Voxel downsample to uniform points -->
  <node pkg="pcl_ros" type="voxel_grid" name="l1_voxel" output="screen">
    <remap from="input"  to="/unilidar/cloud"/>
    <remap from="output" to="/l1/voxel"/>
    <param name="leaf_size" value="0.03"/>   <!-- 3 cm -->
  </node>

  <!-- Keep a reasonable Z band -->
  <node pkg="pcl_ros" type="passthrough" name="l1_pass" output="screen">
    <remap from="input"  to="/l1/voxel"/>
    <remap from="output" to="/l1/band"/>
    <param name="filter_field_name" value="z"/>
    <param name="filter_limit_min"  value="-0.2"/>
    <param name="filter_limit_max"  value="2.5"/>
  </node>

  <!-- Denoise -->
  <node pkg="pcl_ros" type="statistical_outlier_removal" name="l1_sor" output="screen">
    <remap from="input"  to="/l1/band"/>
    <remap from="output" to="/l1/clean"/>
    <param name="mean_k" value="20"/>
    <param name="stddev" value="1.0"/>
  </node>
</launch>
